<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include('head-links') -%>
    <title>Field Notes</title>
  </head>
  <body>
    <%- include('navbar') -%>

    <div class="container">
      <div class="row">
        <div class="col mx-4">
          <h1 class="pt-4">Field Notes Form</h1>
          <h3 class="lead text-muted">Describe what your obersved</h3>
          <!-- Start of form fill -->
          <form method="POST" action="/note">
            <div class="form-row pt-4">
              <div class="form-group whole-input col col-md-3 mx-1">
                <label for="date">Date</label>
                <input class="form-control shadow-none" name="date" />
              </div>
              <div class="form-group whole-input col col-md-3 mx-1">
                <label for="time">Time</label>
                <input class="form-control shadow-none" name="time" />
              </div>
              <div class="form-group whole-input col-md-5 mx-1">
                <label for="day">Day of Week</label>
                <input class="form-control shadow-none" name="day" />
              </div>
            </div>
            <div class="form-row">
              <div class="form-group whole-input col col-md-3 mx-2">
                <label for="duration">Sighting Duration</label>
                <input class="form-control shadow-none" name="duration" type="number"/>
              </div>
              <div class="form-group whole-input col col-md-8 mx-1">
                <label for="behaviour">Behaviour</label>
                <input class="form-control shadow-none" name="behaviour" />
              </div>
            </div>
            <div class="form-row">
              <div class="form-group whole-input col-7 col-md-5 mx-1">
                <label for="habitat">Habitat</label>
                <input class="form-control shadow-none" name="habitat" />
              </div>
              <div class="form-group whole-input col-4 col-md-2 mx-1">
                <label for="flocksize">Flock Size</label>
                <input class="form-control shadow-none" name="flocksize" type="number"/>
              </div>
              <!-- Start of Species Selection -->
              <div class="form-group whole-input col col-md-4 mx-1">
                <label for="species_id">Select Species</label>
                <select class="form-control shadow-none" name="species_id" type="number">
                  <% birdSpeciesArr.forEach((species) => { %>
                  <option value="<%=species.id%>"><%= species.name %></option>
                  <% }); %>
                </select>
              </div>
              <!-- End of Species Selection -->
            </div>
            <div class="row">
              <div class="col">
                <div class="form-check form-check-inline">
                    <% behaviourArr.forEach((behaviour) => { %>
                    <label class="form-check-label"><%= behaviour.name %></label>
                    <input class="form-check-input" type="checkbox" name="behaviour_id" value="<%= behaviour.id %>" />
                    <% }); %>
                </div>
              </div>
            </div>
            <!-- Submit Btn -->
            <div class="row pt-2 mx-2">
              <input type="submit" / class="btn-lg btn-secondary
              custom-btn-class px-5">
            </div>
          </form>
          <!-- End of form fill -->
        </div>
      </div>
    </div>

    <%- include('bootstrap-scripts') -%>
  </body>
</html>
