<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include('head-links') -%>
    <title>Home</title>
  </head>
  <body>
    <%- include('navbar') -%>
    <div class="container">
      <div class="row pt-4">
        <div class="col">
          <h1>My Notes Collection</h1>
          <h3 class="lead text-muted pb-4">
            <%= sightingsList[0].name %>'s Sightings List
          </h3>
          <!-- Start of sectioning 3x3 -->
          <div class="row">
            <!-- Start of Sightings List -->
            <% sightingsList.forEach((sighting, index) => { %>
            <div class="col-xs-12 col-sm-6 col-md-4">
              <div class="card border-dark mb-3" style="max-width: 18rem">
                <div class="card-header">
                  <a href="/note/<%= sighting.id%>"
                    >Sighting #<%= index + 1 %></a
                  >
                </div>
                <div class="card-body text-dark" style="height: 11rem">
                  <h5 class="card-title"><%= sighting.habitat %></h5>
                  <p id="card-text-overflow" class="card-text">
                    <%= sighting.behaviour %>
                  </p>
                </div>
              </div>
            </div>
            <% }) %>
            <!-- End of Sightings List -->
          </div>
          <!-- End of sectioning 3x3 -->
        </div>
      </div>
    </div>

    <%- include('bootstrap-scripts') -%>
  </body>
</html>
